<?xml version="1.0" encoding="utf-8"?>
<!--
 * Copyright (C) 2013 Peter Gregus for GravityBox Project (C3C076@xda)
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ceco.kitkat.gravitybox"
    android:versionCode="121"
    android:versionName="3.5.1" >

    <uses-sdk
        android:minSdkVersion="19"
        android:maxSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <permission
        android:name="gravitybox.permission.UNLOCK"
        android:label="Permission to unlock GravityBox premium features"
        android:protectionLevel="signature" />

    <application
        android:name="com.ceco.kitkat.gravitybox.GravityBoxApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:supportsRtl="true" >
        <activity
            android:name="com.ceco.kitkat.gravitybox.GravityBoxSettings"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name="com.ceco.kitkat.gravitybox.GravityBoxSettingsAlias"
            android:label="@string/app_name"
            android:enabled="true"
            android:targetActivity="com.ceco.kitkat.gravitybox.GravityBoxSettings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.ceco.kitkat.gravitybox.quicksettings.TileOrderActivity"
            android:label="@string/pref_qs_tile_order_title" >
        </activity>

        <activity
            android:name="com.ceco.kitkat.gravitybox.shortcuts.ShortcutActivity"
            android:label="@string/shortcut_activity_title"
            android:theme="@android:style/Theme.Holo.Dialog"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ceco.kitkat.gravitybox.ledcontrol.LedMainActivity"
            android:label="@string/pref_led_control_title" >
        </activity>

        <activity
            android:name="com.ceco.kitkat.gravitybox.ledcontrol.LedControlActivity"
            android:label="@string/pref_unc_perapp_settings_title" >
        </activity>

        <activity
            android:name="com.ceco.kitkat.gravitybox.ledcontrol.LedSettingsActivity" >
        </activity>

        <activity
            android:name="com.ceco.kitkat.gravitybox.ledcontrol.ActiveScreenActivity"
            android:label="@string/lc_active_screen" >
        </activity>

        <activity
            android:name="com.ceco.kitkat.gravitybox.ledcontrol.QuietHoursActivity"
            android:label="@string/lc_quiet_hours" >
        </activity>

        <activity
            android:name="com.ceco.kitkat.gravitybox.UnlockActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:noHistory="true"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:permission="gravitybox.permission.UNLOCK">
        </activity>

        <activity
            android:name="com.ceco.kitkat.gravitybox.PickImageActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="false"
            android:excludeFromRecents="true">
        </activity>

        <service android:name="com.ceco.kitkat.gravitybox.GravityBoxService">
            <intent-filter>
                <action android:name="gravitybox.intent.action.TOGGLE_SYNC" />
                <action android:name="gravitybox.intent.action.GET_SYNC_STATUS" />
                <action android:name="gravitybox.intent.action.SET_QUIET_HOURS_MODE" />
            </intent-filter>
        </service>

        <service android:name="com.ceco.kitkat.gravitybox.TorchService">
            <intent-filter>
                <action android:name="gravitybox.intent.action.TOGGLE_TORCH" />
            </intent-filter>
        </service>

        <service android:name="com.ceco.kitkat.gravitybox.RecordingService">
            <intent-filter>
                <action android:name="gravitybox.intent.action.RECORDING_START" />
                <action android:name="gravitybox.intent.action.RECORDING_STOP" />
            </intent-filter>
        </service>

        <service android:name="com.ceco.kitkat.gravitybox.ScreenRecordingService">
            <intent-filter>
                <action android:name="gravitybox.intent.action.TOGGLE_SCREEN_RECORDING" />
            </intent-filter>
        </service>

        <service android:name="com.ceco.kitkat.gravitybox.KeyguardImageService" />

        <receiver 
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                 <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver 
            android:name=".UnlockActivity$UnlockReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="gravitybox.permission.UNLOCK">
            <intent-filter>
                 <action android:name="gravitybox.intent.action.UNLOCK" />
            </intent-filter>
        </receiver>

        <receiver 
            android:name=".UnlockActivity$PkgManagerReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                 <action android:name="android.intent.action.PACKAGE_ADDED" />
                 <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                 <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposedminversion"
            android:value="42+" />
        <meta-data
            android:name="xposeddescription"
            android:value="GravityBox by C3C076@XDA" />
    </application>

</manifest>
